
@{
    ViewBag.Title = "SingleCustomerDetail";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<script src="~/scripts/jquery-3.4.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>

<link href="~/Content/select2.css" rel="stylesheet" />
<script src="~/JqueryFiles/GenericAjax.js"></script>
<script src="~/JqueryFiles/GenerateOrder.js"></script>




<section class="content">
    <div class="container-fluid">

            <div class="tab-content">

            <div id="customer" class="tab-pane fade in active">
                <div class="tab-content">





                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">

                            <div class="header">
                                <h2><strong><u>Order Delivery Details</u></strong></h2>
                                <br />
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <label>Customer Name</label>

                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                                    <input type="text" id="txtUserFirstName" name="UserFirstName" class="form-control" placeholder="Abdul Rehman" readonly>



                                </div>
                                <div class="col-lg1 col-md-1 col-sm-1 col-xs-1">
                                    <label>Order Number</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                                    <input type="text" id="txtUserFirstName" name="UserFirstName" class="form-control" placeholder="111101" readonly>

                                </div>
                                <div class="col-lg1 col-md-1 col-sm-1 col-xs-1">
                                    <label>Date</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                                    <input type="text" id="txtUserFirstName" name="UserFirstName" class="form-control" placeholder="11/20/2019" readonly>

                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                                    <input type="button" class="btn btn-primary m-t-15 waves-effect" id="redirect" value="Dashboard" />

                                </div>

                            </div>

                            <div class="body">
                                <div class="table-responsive social_media_table">
                                    <table class="table table-hover" id="listMonday"></table>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">


                            <div class="body">
                                <div class="table-responsive social_media_table">
                                    <table class="table table-hover" id="listMonday">
                                        <thead>
                                            <tr>
                                                <th>Material Code</th>
                                                <th>Description</th>
                                                <th>Order Quantity</th>
                                                <th>Recieved Quantity</th>
                                                <th>Comment</th>
                                                <th>Remarks</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000001</td>
                                                <td>SOOPER PKT</td>
                                                <td>500</td>
                                                <td>500</td>
                                                <th>i have Recieved</th>
                                                <td><input type="text" id="txtUserFirstName" name="UserFirstName" class="form-control" placeholder="Enter Remarks">
</td>


                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000001</td>
                                                <td>SOOPER PKT</td>
                                                <td>500</td>
                                                <td>500</td>
                                                <th>i have Recieved</th>
                                                <td><input type="text" id="txtUserFirstName" name="UserFirstName" class="form-control" placeholder="Enter Remarks">
</td>


                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000001</td>
                                                <td>SOOPER PKT</td>
                                                <td>500</td>
                                                <td>500</td>
                                                <th>i have Recieved</th>
                                                <td><input type="text" id="txtUserFirstName" name="UserFirstName" class="form-control" placeholder="Enter Remarks">
</td>

                                            </tr>

                                        </tbody>

                                    </table>
                                </div>

                                @*<input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnRole" value="Regenerate Order" />*@
                            </div>

                        </div>
                    </div>




                </div>


            </div>



            <div id="SKU" class="tab-pane fade">
                <div class="tab-content">





                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">

                            <div class="header">
                                <h2><strong>Order Details</strong></h2>
                                <br />
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <select class="form-control show-tick ms select2" id="txtRoleIDUpdate" name="RoleId" data-placeholder="Select">
                                        <option>Select Region</option>
                                        <option>National</option>
                                        <option>Region 1</option>
                                        <option>Region 2</option>
                                        <option>Region 3</option>
                                        <option>Region 4</option>
                                        <option>Region 5</option>
                                        <option>Region 6</option>
                                        <option>Region8  </option>
                                    </select>


                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <input type="text" id="txtUserFirstName" name="UserFirstName" class="form-control" placeholder="Search SKU">

                                </div>

                            </div>

                            <div class="body">
                                <div class="table-responsive social_media_table">
                                    <table class="table table-hover" id="listMonday"></table>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">


                            <div class="body">
                                <div class="table-responsive social_media_table">
                                    <table class="table table-hover" id="listMonday">
                                        <thead>
                                            <tr>
                                                <th>SKU Code</th>
                                                <th>SKU Description</th>
                                                <th>Total Quantity</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000001</td>
                                                <td>SOOPER PKT</td>
                                                <td>500</td>


                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000526</td>
                                                <td>Zeera Plus</td>
                                                <td>200</td>

                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30004561</td>
                                                <td>Glucose</td>
                                                <td>600</td>

                                            </tr>

                                        </tbody>

                                    </table>
                                </div>

                                @*<input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnRole" value="Regenerate Order" />*@
                            </div>

                        </div>
                    </div>




                </div>


            </div>





        </div>
    </div>
    </div>



</section>



