
@{
    ViewBag.Title = "DisptachWeeklyOrder";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}


<script src="~/scripts/jquery-3.4.1.min.js"></script>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>



<link href="~/Content/select2.css" rel="stylesheet" />
<script src="~/JqueryFiles/GenericAjax.js"></script>
<script src="~/JqueryFiles/DispatchWeeklyOrder.js"></script>



<section class="content">
    <div class="container-fluid">

        @*Form Starts*@
        <div class="row clearfix">
            <div class="tab-content">
                <div id="monday" class="tab-pane fade in active">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @*<input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnRole" value="Proceed" />*@

                        <div class="card">

                            <div class="header">
                                <h2><strong><u>Dispatach Weekly Order</u></strong></h2>
                                <br />

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <select class="form-control show-tick ms select2" id="txtRoleIDUpdate" name="RoleId" data-placeholder="Select">
                                        <option>Select Customer</option>
                                        <option>Ali Ghaffari</option>
                                    </select>


                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <label>Select Region</label>
                                    <div class="form-group">

                                        <select class="js-select2 btn-group form-control bootstrap-select" id="dropDownRegion" name="dropDownCustomer" multiple="multiple">

                                            <option id="dropDownCustomer" data-badge="">National</option>
                                            <option id="dropDownCustomer1" data-badge="">North</option>
                                            <option id="dropDownCustomer2" data-badge="">South        </option>
                                            <option id="dropDownCustomer3" data-badge="">Centeral A   </option>
                                            <option id="dropDownCustomer4" data-badge="">Centeral B   </option>
                                        </select>
                                    </div>


                                </div>
                            </div>

                            <div class="body">
                               
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @*<input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnRole" value="Proceed" />*@

                        <div class="card">

                            <div class="body">
                                <div class="table-responsive social_media_table">
                                    <table class="table table-hover" id="listMonday">
                                        <thead>
                                            <tr>
                                                <th>Material Codes</th>
                                                <th>Material Description</th>
                                                <th>Unit Price</th>
                                                <th>Total Weekly Order</th>
                                                <th>Monday <br />Order Quantity</th>
                                                <th>Tuesday <br />Order Quantity</th>
                                                <th>Wednesday <br />Order Quantity</th>
                                                <th>Thursday <br />Order Quantity</th>
                                                <th>Friday <br />Order Quantity</th>
                                                <th>Saturday <br />Order Quantity</th>
                                                <th>Sunday <br /> Order Quantity</th>
                                                <th>Select Organization</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000001</td>
                                                <td>SOOPER PKT</td>
                                                <td>500</td>
                                                <td>100</td>
                                                <td>20</td>
                                                <td>20 @*<input type="text" id="txtPackageName" class="form-control" placeholder="Enter Uplift number">*@</td>
                                                <td>20@*<input type="text" id="txtPackageName" class="form-control" placeholder="Enter Downlift number">*@</td>
                                                <td>20</td>
                                                <td>20</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <select class="form-control show-tick ms select2" id="RoleId" name="RoleId" data-placeholder="Select">
                                                        <option id="DropDwn">EBM</option>
                                                        <option id="DropDwn">CFL</option>
                                                    </select>

                                                </td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000002</td>
                                                <td>Jam Delight</td>
                                                <td>400</td>
                                                <td>200</td>
                                                <td>40</td>
                                                <td>40 @*<input type="text" id="txtPackageName" class="form-control" placeholder="Enter Uplift number">*@</td>
                                                <td>40@*<input type="text" id="txtPackageName" class="form-control" placeholder="Enter Downlift number">*@</td>
                                                <td>40</td>
                                                <td></td>
                                                <td>40</td>
                                                <td></td>
                                                <td>EBM</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000003</td>
                                                <td>Party</td>
                                                <td>500</td>
                                                <td>100</td>
                                                <td>20</td>
                                                <td>20 @*<input type="text" id="txtPackageName" class="form-control" placeholder="Enter Uplift number">*@</td>
                                                <td>20@*<input type="text" id="txtPackageName" class="form-control" placeholder="Enter Downlift number">*@</td>
                                                <td>20</td>
                                                <td></td>
                                                <td>20</td>
                                                <td></td>
                                                <td>EBM</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">30000004</td>
                                                <td>RIO</td>
                                                <td>500</td>
                                                <td>300</td>
                                                <td>50</td>
                                                <td>50 @*<input type="text" id="txtPackageName" class="form-control" placeholder="Enter Uplift number">*@</td>
                                                <td>50@*<input type="text" id="txtPackageName" class="form-control" placeholder="Enter Downlift number">*@</td>
                                                <td>50</td>
                                                <td>50</td>
                                                <td>50</td>
                                                <td></td>
                                                <td>CFL</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnRole" value="Proceed" />
                                <input type="button" class="btn btn-primary m-t-15 waves-effect" id="redirect" value="Dashboard" />

                            </div>

                        </div>
                    </div>


                </div>
                

            </div>





        </div>
    </div>
</section>

