
@{
    ViewBag.Title = "Audit Summary";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}
<style>
    .card .body {
        font-size: 11px;
        color: black;
        padding: 20px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
        margin-top: -45px;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em;
        border: 1px solid;
    }



    .select2-results .select2-highlighted {
        background: rgba(204, 204, 204, 0.35) !important;
        color: #fff;
    }

    .card {
        background: #fff;
        min-height: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        margin-bottom: 30px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        margin-top: -25px;
    }

    #cardd2 {
        height: 100px;
        background: #fff;
        min-height: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        margin-bottom: 30px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        margin-top: 20px;
    }

    .card .body .col-xs-4, .card .body .col-sm-4, .card .body .col-md-4, .card .body .col-lg-4 {
        margin-bottom: -32px;
    }
</style>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
@*<script src="http://code.jquery.com/jquery-1.8.2.js"></script>*@
<script src="~/scripts/jquery-3.4.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script src="~/scripts/jquery.multiselect.js"></script>

<link href="~/Content/new-jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/new-jquery.dataTables.min.js"></script>

<script src="~/JqueryFiles/GenericAjax.js"></script>
<script src="~/JqueryFiles/Audit.js"></script>
<link href="~/Content/jquery.multiselect.css" rel="stylesheet" />

<script src="~/scripts/new-jquery.table2excel.min.js"></script>
<div id="divLoader" style="display: none;width: 100%;height: 100%;position: absolute;z-index: 100000;opacity: 0.5;background-color: black;">
    <img src="~/assets/images/4V0b.gif" alt="Loader" height="100px" width="100px" style="align-self: center;height: 100px;width: 100px;margin-left: 46%;margin-top: 15%;" />
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" id="cardd2">
                    <div class="body">
                        <label></label>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label>Log Type</label>
                                    <select class="form-control show-tick" id="LogType" name="LogType" data-placeholder="Select Log Type" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label>Log Name</label>
                                    <select class="form-control show-tick" id="LogName" name="LogName" data-placeholder="Select Log Name" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label>Log Screen</label>
                                    <select class="form-control show-tick" id="LogScreen" name="LogScreen" data-placeholder="Select Log Screen" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <input type="text" readonly="readonly" data-date-format='yy-mm-dd' id="StartDate" data-beatpicker="true" data-beatpicker-module="clear" name="StartDate" class="form-control datepicker">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <input type="text" readonly="readonly" data-date-format='yy-mm-dd' id="EndDate" data-beatpicker="true" data-beatpicker-module="clear" name="EndDate" class="form-control datepicker">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <input type="button" class="btn btn-primary m-t-15 waves-effect" id="redirect" value="Dashboard" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            @*DataTable Starts*@
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <u> Audit Summary </u>
                            <center>
                                <div id="divLoader" style="display:none;">
                                    <img src="~/assets/images/4V0b.gif" alt="Loader" height="100px" width="100px" />
                                </div>
                            </center>
                        </h2>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        </div>
                        @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <a href=""><input type="button" class="form-control btn-info" value="UnFilter All" /></a>
                            </div>*@
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        </div>
                    </div>

                    <div class="body">
                        <div class="table-responsive social_media_table">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
                            @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <input type="button" value="Export" id="btnn" class="form-control btn-info" width="200px" />
                                </div>*@
                            <table id="AuditSummaryList" class="table table-bordered table-striped table-hover js-basic-example dataTable display nowrap" style="width:100%">
                                <thead class="thead-dark">
                                    <tr style="color:brown" class="noExl">
                                        <th></th>
                                        <th>Log Type</th>
                                        <th>Log Name</th>
                                        <th>Log Screen</th>
                                        <th>Action performed</th>
                                        <th>User Name</th>
                                        <th>Log Date</th>
                                        <th>Miscellaneous</th>
                                        <th>IP Address</th>
                                        <th>Reference</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    @*DataTable Ends*@




</section>


<script src="~/scripts/navigationBarScroll.js"></script>

<script>
    $("input.datepicker").datepicker();
    $("#StartDate").datepicker({ dateFormat: "dd-mm-yy" });
    $("#EndDate").datepicker({ dateFormat: "dd-mm-yy" });
    function getGrid() {
        LogType = $('#LogType').val() == "-1" || null ? "" : $('#LogType').val();
        LogName = $('#LogName').val() == "-1" || null ? "" : $('#LogName').val();
        LogScreen = $('#LogScreen').val() == "-1" || null ? "" : $('#LogScreen').val();
        StartDate = $('#StartDate').val() == "-1" || null ? "" : $('#StartDate').val();
        EndDate = $('#EndDate').val() == "-1" || null ? "" : $('#EndDate').val();
        if ($.fn.DataTable.isDataTable('#AuditSummaryList')) {
            $('#AuditSummaryList').DataTable().destroy();
        }
        var table = $("#AuditSummaryList").DataTable({
            "ajax": {
                "url": "Audit?LogType=" + LogType + "&LogName=" + LogName + "&LogScreen=" + LogScreen + "&StartDate=" + StartDate + "&EndDate=" + EndDate,
                "type": "POST",
                "datatype": "json",
                "processing": false,
                "serverSide": false,
                "filter": true,
                "orderMulti": true,
                "dataSrc": "",
            },
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
            "columns": [
                { "data": "LogId", "class": "LogId", "name": "LogId", "autoWidth": true },
                { "data": "LogType", "class": "LogType", "name": "LogType", "autoWidth": true },
                { "data": "LogName", "class": "LogName", "name": "LogName", "autoWidth": true },
                { "data": "LogScreen", "class": "LogScreen", "name": "LogScreen", "autoWidth": true },
                { "data": "ActionPerformed", "class": "ActionPerformed", "name": "ActionPerformed", "autoWidth": true },
                { "data": "CreatedByName", "class": "CreatedByName", "name": "CreatedByName", "autoWidth": true },
                { "data": "CreatedDateString", "class": "CreatedDateString", "name": "CreatedDateString", "autoWidth": true },
                { "data": "Misc", "class": "Misc", "name": "Misc", "autoWidth": true },
                { "data": "IPAddress", "class": "IPAddress", "name": "IPAddress", "autoWidth": true },
                { "data": "Reference", "class": "Reference", "name": "Reference", "autoWidth": true },
                //{
                //"defaultContent": "<button  onclick='edit_Substitute()' class='btn btn-primary m-t-6 waves-effect'>Edit</button>"
                //},
            ],
            "order": [[0, "desc"]]
        });
    }
    function BindDropDownType(url, index) {
        Common.Ajax('GET', 'GetLogDropdown', { index }, 'json', BindDropDownTypeHandler);
    }
    function BindDropDownTypeHandler(response) {
        var outputArray = [];
        var s = ''
        for (var i = 0; i < response.length; i++) {

            if ((jQuery.inArray(response[i], outputArray)) == -1) {
                s += '<option value="' + response[i].ID + '">' + response[i].Title + '</option>';
            }
        }
        $("#LogType").html(s);
        $("#LogType").multiselect({
            columns: 1,
            placeholder: 'Log Type',
            search: true,
            searchOptions: {
                'default': 'Search'
            },
            selectAll: true
        });
        $("#LogType").multiselect("reload");
    }

    function BindDropDownName(url, index) {
        Common.Ajax('GET', 'GetLogDropdown', { index }, 'json', BindDropDownNameHandler);
    }
    function BindDropDownNameHandler(response) {
        var outputArray = [];
        var s = ''
        for (var i = 0; i < response.length; i++) {

            if ((jQuery.inArray(response[i], outputArray)) == -1) {
                s += '<option value="' + response[i].ID + '">' + response[i].Title + '</option>';
            }
        }
        $("#LogName").html(s);
        $("#LogName").multiselect({
            columns: 1,
            placeholder: 'Log Name',
            search: true,
            searchOptions: {
                'default': 'Search'
            },
            selectAll: true
        });
        $("#LogName").multiselect("reload");
    }

    function BindDropDownScreen(url, index) {
        Common.Ajax('GET', 'GetLogDropdown', { index }, 'json', BindDropDownScreenHandler);
    }
    function BindDropDownScreenHandler(response) {
        var outputArray = [];
        var s = ''
        for (var i = 0; i < response.length; i++) {

            if ((jQuery.inArray(response[i], outputArray)) == -1) {
                s += '<option value="' + response[i].ID + '">' + response[i].Title + '</option>';
            }
        }
        $("#LogScreen").html(s);
        $("#LogScreen").multiselect({
            columns: 1,
            placeholder: 'Log Screen',
            search: true,
            searchOptions: {
                'default': 'Search'
            },
            selectAll: true
        });
        $("#LogScreen").multiselect("reload");
    }
    $(document).ready(function () {
        getGrid();
    });
</script>