
@{
    ViewBag.Title = "Claim";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<script src="~/scripts/jquery-3.4.1.min.js"></script>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="~/JqueryFiles/GenericAjax.js"></script>
<script src="~/JqueryFiles/ClaimPortal.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    span.caret {
        margin-left: 329px;
    }

    .open > .dropdown-menu {
        display: contents;
    }
</style>
<div id="divLoader" style="display: none;width: 100%;height: 100%;position: absolute;z-index: 100000;opacity: 0.5;background-color: black;">
    <img src="~/assets/images/4V0b.gif" alt="Loader" height="100px" width="100px" style="align-self: center;height: 100px;width: 100px;margin-left: 46%;margin-top: 15%;" />
</div>


<section class="content">
    <div class="container-fluid">

        @*Form Starts*@
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <center>
                        <div id="divLoader" style="display:none;">
                            <img src="~/assets/images/4V0b.gif" alt="Loader" height="100px" width="100px" />
                        </div>
                    </center>

                    <div>
                        <div id="successAlert" class="alert alert-success collapse" role="alert">
                            Claim Has been Generated.
                        </div>
                        <div id="warningAlert" class="alert alert-secondary collapse" role="alert">
                            Claim already Exists.
                        </div>
                    </div>


                    <div class="header">
                        <h2><strong><u>Select Order Reference Number</u></strong></h2>
                        <br />
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control show-tick" id="drpOrderRefrence" name="OrderRefrence" data-placeholder="Select Order Refrence Num">
                                @*<option value="">National</option>*@
                               
                                
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <input type="file" id="FileUpload"   />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        </div>
                    </div>

                    <div class="body">
                        <div class="table-responsive social_media_table">
                            <table class="table table-bordered" id="ClaimOrdersList">
                                <thead>
                                    <tr>
                                        <th>Order Refrence Number</th>
                                        <th>Material Codes</th>
                                        <th>Material Description</th>
                                        <th>Unit Price</th>
                                        <th>Recieved Day</th>
                                        <th>Order Quantity</th>
                                        <th>Received Quantity</th>
                                        <th>Damaged Quantity</th>
                                        <th>Expired Quantity</th>
                                        <th>Short Quantity</th>
                                        <th>Total Claim</th>
                                        <th>Comments</th>

                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnClaimOrder" value="Submit" />
                        <input type="button" class="btn btn-primary m-t-15 waves-effect" id="redirect" value="Dashboard" />
                    </div>

                </div>





            </div>
            
        </div>
    </div>

    @*DataTable Ends*@



    



</section>

<script src="~/scripts/navigationBarScroll.js"></script>

