
@{
    ViewBag.Title = "ViewAllClaims";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<script src="~/scripts/jquery-3.4.1.min.js"></script>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="~/JqueryFiles/GenericAjax.js"></script>
<script src="~/JqueryFiles/ClaimPortalView.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    span.caret {
        margin-left: 329px;
    }

    .open > .dropdown-menu {
        display: contents;
    }
</style>
<div id="divLoader" style="display: none;width: 100%;height: 100%;position: absolute;z-index: 100000;opacity: 0.5;background-color: black;">
    <img src="~/assets/images/4V0b.gif" alt="Loader" height="100px" width="100px" style="align-self: center;height: 100px;width: 100px;margin-left: 46%;margin-top: 15%;" />
</div>


<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">

                    <div>
                        <div id="successAlert" class="alert alert-success collapse" role="alert">
                            Uplift Has been Applied.
                        </div>
                        <div id="warningAlert" class="alert alert-secondary collapse" role="alert">
                            Uplift already Exists.
                        </div>
                    </div>
                    <div class="header">
                        <h2><strong><u>View Claims</u></strong></h2>
                        <br />
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                           <label>Search Bill Number</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control show-tick" id="drpOrderRefrence" name="OrderRefrence" data-placeholder="Select Bill Number">
                            
                            </select>
                        </div>
                        @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                          <label>Search Without Refrence Number</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control show-tick" id="drpOrderRefrence" name="OrderRefrence" data-placeholder="Select Order Refrence Num">
                             </select>
                        </div>*@
                    </div>

                    <div class="body">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive social_media_table">
                                <table class="table table-bordered" id="ClaimOrdersList">
                                    <thead>
                                        <tr>
                                            <th>Material Codes</th>
                                            <th>Material Description</th>

                                            <th>Receiving Day</th>
                                            <th>Ordered Quantity</th>
                                            <th>Received Quantity</th>
                                            <th>Damaged</th>
                                            <th>Expired</th>
                                            <th>Short</th>
                                            <th>Total Claimed Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Claimed Value</th>
                                            <th>Comment</th>
                                            <th>Attahment</th>
                                            <th>Status</th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <input type="text" id="txtAproved" name="Aproved" value="" hidden />
                        <input type="button" class="btn btn-primary m-t-15 waves-effect" id="redirect" value="Dashboard" />
                        @*<input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnADDApproval" value="Approve" />
        <input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnReject" value="Reject" />
        <input type="button" class="btn btn-primary m-t-15 waves-effect" id="bttnClaimOrder" value="Submit" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script src="~/scripts/navigationBarScroll.js"></script>


