@{
    ViewBag.Title = "endStock";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<style>
    .card .body {
        font-size: 11px;
        color: black;
        padding: 20px;
    }
    .row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -45px;
}
    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em;
        border: 1px solid;
    }

    /*.card .header {
        color: #555;
        padding: 60px;
        position: relative;
        border-bottom: 1px solid rgba(204, 204, 204, 0.35);
        margin-top: -30px;
    }*/

    .select2-results .select2-highlighted {
        background: rgba(204, 204, 204, 0.35) !important;
        color: #fff;
    }

    .card {
        background: #fff;
        min-height: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        margin-bottom: 30px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        margin-top: -25px;
    }

    #cardd2 {
        height: 164px;
        background: #fff;
        min-height: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        margin-bottom: 30px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        margin-top: 20px;
    }

    .card .body .col-xs-4, .card .body .col-sm-4, .card .body .col-md-4, .card .body .col-lg-4 {
        margin-bottom: -32px;
    }
    /*.card .header {
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    /*margin-top: -25px;*/
    }
    */
</style>

<script src="~/scripts/new-jquery-1.12.4.js"></script>
<script src="~/scripts/jquery.multiselect.js"></script>
 
<link href="~/Content/new-jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/new-jquery.dataTables.min.js"></script>

<script src="~/JqueryFiles/GenericAjax.js"></script>
<script src="~/JqueryFiles/endStock.js"></script> 
<link href="~/Content/jquery.multiselect.css" rel="stylesheet" />

 
<script type="text/javascript">
    var ddlData = @(Html.Raw(ViewBag.JSONData));
    var AllData= @(Html.Raw(ViewBag.AllData));


</script>
<script src="~/scripts/new-jquery.table2excel.min.js"></script>
<div id="divLoader" style="display: none;width: 100%;height: 100%;position: absolute;z-index: 100000;opacity: 0.5;background-color: black;">
    <img src="~/assets/images/4V0b.gif" alt="Loader" height="100px" width="100px" style="align-self: center;height: 100px;width: 100px;margin-left: 46%;margin-top: 15%;" />
</div>

<section class="content">
    <div class="container-fluid">


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" id="cardd2">
                    <div class="body">
                        @*<div class="header">*@
                        <label></label>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <select class="form-control show-tick" id="Material" name="Material" data-placeholder="Select Company" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <select class="form-control show-tick" id="salesOrg" name="salesOrg" data-placeholder="Select Sales Org" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <select class="form-control show-tick" id="RegionCode" name="RegionCode" data-placeholder="Select Distribution Channel" multiple="multiple"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <select class="form-control show-tick" id="AreaCode" name="AreaCode" data-placeholder="Select Division" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <select class="form-control show-tick" id="TerritoryCode" name="TerritoryCode " data-placeholder="Select Customer" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <select class="form-control show-tick" id="TownCode" name="TownCode" data-placeholder="Select Material" multiple="multiple"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <select class="form-control show-tick" id="drpCustomer" name="Customer" data-placeholder="Select Customer" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <select class="form-control show-tick" id="drpDivision" name="Division" data-placeholder="Select Division" multiple="multiple"></select>
                                </div>
                            </div>
                           
                        </div>

                    </div>


                </div>

            </div>

            @*DataTable Starts*@


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                @*<div class="card">
                    <div class="header">
                            <label>Total Distributor Stock</label>
                            <div class="form-group">
                                <select class="form-control show-tick ms select2" id="txttotalDistributorSum" name="totalDistributorSum" data-placeholder="Select">
                                 
                                </select>
                            </div>   
                    </div>
                </div>*@
                <div class="card">
                    <div class="header">
                        <h2>
                            <u>End Stock </u>
                            <center>
                                <div id="divLoader" style="display:none;">
                                    <img src="~/assets/images/4V0b.gif" alt="Loader" height="100px" width="100px" />
                                </div>
                            </center>
                        </h2>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            @*<label>Total Distributor Stock</label>
                            <div class="form-group">
                                <select class="form-control show-tick ms select2" id="txttotalDistributorSum" name="totalDistributorSum" data-placeholder="Select">
                                    <option id="DropDwn"></option>
                                </select>
                            </div>*@
                           </div>
                          
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href=""><input type="button" class="form-control btn-info" value="UnFilter All" /></a> 
                       
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                       
                                @*<select class="js-select2 btn-group form-control bootstrap-select" id="dropDownCustomer" name="dropDownCustomer" data-placeholder="Select User" multiple="multiple">

                <option id="dropDownCustomer" data-badge=""></option>

            </select>*@


                            </div>
                    </div>
                 
                    <div class="body">
                        <div class="table-responsive social_media_table">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <input type="button" value="Export" id="btnn" class="form-control btn-info" width="200px" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <input type="button" class="form-control btn-info" id="redirect" value="Dashboard" />
                                </div>
                                <table id="endStockList" class="table table-bordered table-striped table-hover js-basic-example dataTable display nowrap" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr style="color:brown" class="noExl">
                                            <th>Calendar Month</th>

                                            <th>Division</th>
                                            <th>Customer (Sold-To Party)</th>
                                            <th>Customer Name</th>
                                            <th>Customer Name2</th>
                                            <th>RegionDescription</th>
                                            <th>AreaDescription</th>
                                            <th>TerritoryDescription</th>
                                            <th>TownDescription</th>
                                            <th>Material</th>
                                            <th>Material Description</th>
                                            <th>MatPricingGrpDescription</th>
                                            <th>MaterialGroup1_Description</th>
                                            <th>MaterialGroup2_Description</th>
                                            <th>MaterialGroup3_Description</th>
                                            <th>MaterialGroup4_Description</th>
                                            <th>MaterialGroup5_Description</th>
                                            <th>MaterialGroupdescription</th>

                                            <th>Company</th>
                                            <th>Sales Organization</th>
                                            <th>Distribution Channel</th>
                                            @*<th>ZDOC_CATG</th>*@
                                            <th>Basic Unit of Measure</th>
                                            <th>MCST</th>
                                            @*<th>Action</th>*@
                                        </tr>

                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>



                        </div>
                </div>
            </div>
        </div>
    </div>

    @*DataTable Ends*@




</section>
<script src="~/scripts/navigationBarScroll.js"></script>