<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.title</title>
    <!-- Favicon-->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="~/Content/new-css.css" rel="stylesheet" type="text/css">
    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">*@
    <!-- Bootstrap Core Css -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <style>

        .loaderbody {
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            position: absolute;
            background-color: rgba(128,128,128,0.2);
            z-index: 2147483647;
        }

        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            position: fixed;
            top: 45%;
            left: 40%;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body class="theme-red">
    <!-- Overlay For Sidebars -->
    @*<div class="overlay"></div>*@
    <!-- #END# Overlay For Sidebars -->
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle" data-target="#navbar-collapse" aria-expanded="true"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" id="hvoper" href="~/Dashboard/Dashboard">EBM</a>
            </div>
            @*<div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <h3>User Name: @User.Identity.Name</h3>
                </ul>
            </div>*@
        </div>
    </nav>
    <!-- #Top Bar -->
    @Html.Partial("_PartialView");
    <div>
        @RenderBody()
    </div>
    <!-- Jquery Core Js -->
    <script src="~/scripts/notify.min.js"></script>
    <script src="~/scripts/Scripts.js"></script>
    @*<script src="~/scripts/jquery.min.js"></script>*@
    <!-- Bootstrap Core Js -->
    <script src="~/scripts/bootstrap.js"></script>
    <!-- Custom Js -->
    <script src="~/scripts/admin.js"></script>
    <script src="~/scripts/index.js"></script> 
    <script src="~/scripts/navigationBarScroll.js"></script>
</body>
</html>
